body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/landing\ page.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgb(0, 0, 0, 0, 0, 0.5);
    padding: 10px 0;
    text-align: center;
}

nav .buttons {
    display: inline-block;
}

.btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
    text-align: left;
    padding: 100px 20px;
    background-color: rgb(0, 0, 0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 50px;
}

h1 {    
    font-size: 2.5em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.my-pic-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Additional CSS for adjusting the image size */
.my-pic-image {
    width: 50%; /* Adjust this percentage to change the size of the image */
    max-width: 300px; /* This sets a maximum width for the image */
    height: auto;
    border-radius: 10px;
}